.main-article {
  font-size: 1.3em;
  color: brown;
  border: 3px solid red;
}

.article-header {

}

.article-content {

}

.page-link {
  text-decoration: line-through;
  color: inherit;
}

.image{
  border: 3px solid green;
  width: 400px;
  padding: 10px;
  margin: 25px;
  box-sizing: border-box;
}
